<div>
  <h2 id="page-heading" data-cy="PosteHeading">
    <span jhiTranslate="rhRecrutementApp.poste.home.title">Postes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhRecrutementApp.poste.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-poste"
        [routerLink]="['/poste/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhRecrutementApp.poste.home.createLabel"> Créer un nouveau Poste </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="postes?.length === 0">
    <span jhiTranslate="rhRecrutementApp.poste.home.notFound">Aucun Poste trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="postes && postes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomPoste">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.poste.nomPoste">Nom Poste</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroPoste">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.poste.numeroPoste">Numero Poste</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diponible">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.poste.diponible">Diponible</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typePoste">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.poste.typePoste">Type Poste</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let poste of postes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/poste', poste.id, 'view']">{{ poste.id }}</a>
          </td>
          <td>{{ poste.nomPoste }}</td>
          <td>{{ poste.numeroPoste }}</td>
          <td>{{ poste.diponible }}</td>
          <td jhiTranslate="{{ 'rhRecrutementApp.TypePoste.' + poste.typePoste }}">{{ poste.typePoste }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/poste', poste.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/poste', poste.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(poste)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
