<div>
  <h2 id="page-heading" data-cy="HistoriqueOffreHeading">
    <span jhiTranslate="rhRecrutementApp.historiqueOffre.home.title">HistoriqueOffres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhRecrutementApp.historiqueOffre.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-historique-offre"
        [routerLink]="['/historique-offre/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhRecrutementApp.historiqueOffre.home.createLabel"> Créer un nouveau Historique Offre </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="historiqueOffres?.length === 0">
    <span jhiTranslate="rhRecrutementApp.historiqueOffre.home.notFound">Aucun Historique Offre trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="historiqueOffres && historiqueOffres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHistorique">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.historiqueOffre.dateHistorique">Date Historique</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.historiqueOffre.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let historiqueOffre of historiqueOffres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/historique-offre', historiqueOffre.id, 'view']">{{ historiqueOffre.id }}</a>
          </td>
          <td>{{ historiqueOffre.dateHistorique | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'rhRecrutementApp.Etat.' + historiqueOffre.etat }}">{{ historiqueOffre.etat }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/historique-offre', historiqueOffre.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/historique-offre', historiqueOffre.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(historiqueOffre)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
