<div>
  <h2 id="page-heading" data-cy="OffrePosteHeading">
    <span jhiTranslate="rhRecrutementApp.offrePoste.home.title">OffrePostes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rhRecrutementApp.offrePoste.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-offre-poste"
        [routerLink]="['/offre-poste/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rhRecrutementApp.offrePoste.home.createLabel"> Créer un nouveau Offre Poste </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="offrePostes?.length === 0">
    <span jhiTranslate="rhRecrutementApp.offrePoste.home.notFound">Aucun Offre Poste trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="offrePostes && offrePostes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbr">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.offrePoste.nbr">Nbr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="exigence">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.offrePoste.exigence">Exigence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orientation.id">
            <div class="d-flex">
              <span jhiTranslate="rhRecrutementApp.offrePoste.orientation">Orientation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offrePoste of offrePostes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/offre-poste', offrePoste.id, 'view']">{{ offrePoste.id }}</a>
          </td>
          <td>{{ offrePoste.nbr }}</td>
          <td>{{ offrePoste.exigence }}</td>
          <td>
            <div *ngIf="offrePoste.orientation">
              <a [routerLink]="['/orientation', offrePoste.orientation.id, 'view']">{{ offrePoste.orientation.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/offre-poste', offrePoste.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/offre-poste', offrePoste.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(offrePoste)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
