<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-historique-offre-heading"
        data-cy="HistoriqueOffreCreateUpdateHeading"
        jhiTranslate="rhRecrutementApp.historiqueOffre.home.createOrEditLabel"
      >
        Créer ou éditer un Historique Offre
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rhRecrutementApp.historiqueOffre.dateHistorique" for="field_dateHistorique"
            >Date Historique</label
          >
          <div class="input-group">
            <input
              id="field_dateHistorique"
              data-cy="dateHistorique"
              type="text"
              class="form-control"
              name="dateHistorique"
              ngbDatepicker
              #dateHistoriqueDp="ngbDatepicker"
              formControlName="dateHistorique"
            />
            <button type="button" class="btn btn-secondary" (click)="dateHistoriqueDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('dateHistorique')!.invalid && (editForm.get('dateHistorique')!.dirty || editForm.get('dateHistorique')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateHistorique')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rhRecrutementApp.historiqueOffre.etat" for="field_etat">Etat</label>
          <select class="form-control" name="etat" formControlName="etat" id="field_etat" data-cy="etat">
            <option [ngValue]="null">{{ 'rhRecrutementApp.Etat.null' | translate }}</option>
            <option *ngFor="let etat of etatValues" [value]="etat">{{ 'rhRecrutementApp.Etat.' + etat | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
